.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
}

.spinner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.spinner-circle {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #000;
    border-radius: 50%;
    animation: spinner 1.2s linear infinite;
    border-color: #000 transparent transparent transparent;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
